extends layout

block layout-content
    .View
        nav
            ul
                li
                    a(href="") ONE
                    ul
                        li
                            a(href="") SUB A
                        li
                            a(href="") SUB B
                        li
                            a(href="") SUB C
                        li
                            a(href="") SUB D
                            ul
                                li
                                    a(href="") SUB D 1
                                li
                                    a(href="") SUB D 2
                                li
                                    a(href="") SUB D 3
                                    ul
                                        li
                                            a(href="") SUB A
                                        li
                                            a(href="") SUB B
                                        li
                                            a(href="") SUB C
                                        li
                                            a(href="") SUB D
                                li
                                    a(href="") SUB D 4
              
                li
                    a(href="") TWO
                    ul
                        li
                            a(href="") SUB A
                        li
                            a(href="") SUB B
                        li
                            a(href="") SUB C
                        li
                            a(href="") SUB D